
<!-- file {{ template_path }} parsed at ##{{ template_date | date() }}## -->

<p>A simple variable from the YAML data `yaml_item1`:</p>
{{ yaml_item1 }}

<p>An HTML string `yaml_html`:</p>
{{ yaml_html }}

<p>An HTML string escaped `yaml_html`:</p>
{{ yaml_html | escape }}

<p>An HTML string safed `yaml_html`:</p>
{{ yaml_html | safe }}
